pyAesCrypt
asteroid>=0.5.0
audioread
audiosegment
boto3
diffq
dora-search
julius
librosa==0.8.0
loguru
musdb
natsort
norbert
numba
numpy==1.22.0
onnxruntime-gpu; sys_platform != 'darwin'
onnxruntime; sys_platform == 'darwin'
opencv-python
openunmix
Pillow
psutil
pyAesCrypt
pydub
pyglet
pyperclip
pywin32; sys_platform != 'darwin'
pyyaml
resampy==0.2.2
samplerate
scipy
screeninfo
SoundFile
soundstretch
wget
